body{
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: linear-gradient(to right top, #080a26, #0c1234, #121743, #1b1c51, #252060, #23205e, #22205d, #20205b, #151c48, #0e1634, #0b0f22, #01030d);
    color: #E4EAF2;
}
header{
    display: flex;
}

main{
    width: 1440px;
    margin: 0 auto;
    background-color:;
    padding: 50px;
}


.nav-bar{
    display: flex;
    width: 1440px;
    height:70px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    
    
}

.nav-bar div{
    display: flex;
    gap: 20px;
}

.introduccion{
    height: 300px;
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:;
    font-size: 30px;
    
}
.introduccion h1{
    margin: 0;
}

.social-media{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.section{
    background-color: #080A26;
    border-radius: 10px;
    margin: 0 -50px;
    display: flex;
    flex-wrap: wrap;
    
}
.section h2{
    font-size: 35px;
}
.about-me h2{
    margin: 5px;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 1000px;
    margin-left: 50px;
    background-color:;
    font-size: 20px;
    flex-wrap: wrap;
}

.studies{
    text-align: center;
    margin: 0px -50px;
    background-color: ;
    padding: 30px 0;
    
}
.studies h3{
    font-size: 35px;
    margin-bottom: 50px;
}

.section-studies{
    list-style: none;
    display: flex;
    padding: 0 50px;
    justify-content:space-between;
    
}
.school{
    width:350px;
    height: 350px;
    text-align: start;
    background-color:;
    border-radius: ;
    
}
.school img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
.school h4{
    font-size: 35px;
    margin: 5px;
}
.school p{
    font-size: 20px;
    margin: 5px;
}
.title_skills{
    display: flex;
   
}
.title{
    width: 50%;
    background-color:;
    text-align: center;
    font-size: 35px;
    
}
.skills_hobbies{
    display: flex;
    justify-content: space-between;
    background-color:;
    margin: 0 -50px;
    background-color:;
    
}

.skills{
    width: 50%;
    background-color: ;
}
.section_lenguages{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: ;
    
}

.lenguages{
    width: 200px;
    height: 200px;
    background-color:#080A26;
    border-radius: 10px;
}

.lenguages img{
    margin-top: 60px;
}

.lenguages h5{
    margin: 0 18px;
}

.hobbies{
    
    width: 50%;
    
}

.hobbies_img{
    width: 200px;
    height: 200px;
    background-color:#080A26;
    border-radius: 10px;
}

.hobbies_img img{
    margin-top: 60px;
    margin-left: 10px;
}

.hobbies_img h5{
    margin: 0 18px;
}
.section_projects{
    background-color: #080A26;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -50px;
    border-radius: 10px;
    
}   


.title_project{
    text-align: center;
    font-size: 35px;
}

#slider{
    
    width:400px;
    height: 300px;
    display: flex;
    overflow:hidden;
    cursor: pointer;
}

#slider img{
    width: 400px;
    height: 100%;
}

.div-supremo{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    height: 500px;
}
.image-contact{
    width: 50%;
    background-color: blueviolet;
}

.image-contact img{
    width: 100%;
    height: 100%;
}
.title-contact{
    margin:10px 0;
    
}
.text-contact{
   font-size: 18px;
   margin: 0;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    margin-left: 20px;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
    
}

form input{
   padding: 15px 10px;
   font-size: 15px;
   border: 1px solid;
   border-radius: 5px;
}
#mensaje {
    height: 80px;
    
}

#submit{
    width: 50%;
    align-self: center;
    border: 1px solid ;
    border-radius: 10px;
}

footer{
    background-color: #080926;
    margin-top: 40px;
    height: 100px;
    font-size:20px;
    text-align: center;
    height: 150px
   
}
footer p{
    padding: 50px;
    
    

}

